h1 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

#add-collection{
    font-size: 20px;
    display: inline;
    border: none;
}
